$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 55%);
$very-dark-gray: hsl(0, 0%, 41%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    font-family: 'Alata', sans-serif;
    font-size: 15px;
    overflow-x: hidden;
}

.container {
    width: 1160px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}

p.title {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
}

ul {
    list-style: none;
}

a {
    color: $white;
    text-decoration: none;
    display: inline-block;
}

button {
    background: none;
    outline: 0;
    border: 0;
    cursor: pointer;
    transition: .4s ease;
}

.ham {
    display: none;
}

h1, h2, h3 {
    color: $white;
    font-family: 'Josefin Sans', sans-serif;
}

img {
    width: 100%;
    object-fit: contain;
}

.btn {
    padding: .5rem 2.4rem;
    border: 1.6px solid $black;
    color: $black;
    font-family: 'Alata', sans-serif;
    text-transform: uppercase;
    letter-spacing: .12rem;
}

.hero {
    min-height: 100vh;
    background-image: url(./images/desktop/image-hero.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    .navbar {
        position: relative;
        width: 100%;
        height: 10rem;
        display: flex;
        align-items: center;

        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .menu {
                display: flex;

                .nav-item {
                    margin: 0 1.4rem;
                }
            }
        }
    }

    .hero-title {
        font-size: 3.6rem;
        color: $white;
        padding: 1.8rem;
        padding-right: 6rem;
        border: 1.6px solid $white;
        display: inline-block;
        margin-top: 6rem;
    }
}

.middle-section {
    margin: 6rem 0;

    .container {
        display: flex;
        align-items: flex-end;
        justify-content: center;

        .image {
            overflow-x: hidden;
            flex: .6;
        }

        .info {
            flex: .4;
            padding-top: 4rem;
            padding-left: 5rem;
            background: $white;
            margin-left: -8rem;

            .info-title {
                font-size: 2.4rem;
                margin-bottom: 1rem;
            }

            .info-desc {
                color: $dark-gray
            }
        }

    }
}

.grid-section {
    .container {
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .grid-title {
                font-size: 2rem;
            }
        }

        .grids {
            margin: 4rem 0;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            grid-auto-rows: 450px;   
            gap: 1rem;  

            .grid {
                position: relative;
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
                box-shadow: 0 5px 8px rgba(0,0,0,.2);

                .gc-title {
                    color: $white;
                    font-size: 1.5rem;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    padding: 2rem;
                    width: 200px;
                    // text-shadow: 0 0 2px rgba(0,0,0,1);
                }
            }

            .grid:nth-child(1) {
                background-image: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)), url(./images/desktop/image-deep-earth.jpg);
            }

            .grid:nth-child(2) {
                background-image: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)), url(./images/desktop/image-night-arcade.jpg);
            }

            .grid:nth-child(3) {
                background-image: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)), url(./images/desktop/image-soccer-team.jpg);

            }

            .grid:nth-child(4) {
                background-image: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)), url(./images/desktop/image-grid.jpg);
            }

            .grid:nth-child(5) {
                background-image: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)), url(./images/desktop/image-from-above.jpg);
            }

            .grid:nth-child(6) {
                background-image: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)), url(./images/desktop/image-pocket-borealis.jpg);
            }

            .grid:nth-child(7) {
                background-image: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)), url(./images/desktop/image-curiosity.jpg);
            }

            .grid:nth-child(8) {
                background-image: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)), url(./images/desktop/image-fisheye.jpg);
            }
        }
    }
}

.footer {
    background: $black;
    padding: 3rem 0;
    margin-top: 4rem;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        
        .footer-nav {
            display: flex;
            flex-direction: column;

            .logo {
                img {
                    width: 200px;
                }
            }

            ul.footer-menu {
                display: flex;
                align-items: center;
                margin-top: 1rem;
                
                .nav-item:not(.nav-item:nth-child(1)) {
                    margin: 0 1rem;
                }
            }
        }
        
        .socials {
            display: flex;
            flex-direction: column;

            .icons {
                display: flex;
                justify-content: flex-end;

                img {
                    width: 20px;
                    margin: 0 .5rem;
                }
            }
            
            p {
                margin-top: 1rem;
                color: $dark-gray;
            }
        }
    }
}


@media screen and (max-width:768px) {
    .hero {
        background-image: url(./images/mobile/image-hero.jpg);
    }
    .ham {
        display: block;
    }

    ul.menu {
        position: absolute;
        background: $white;
        top: 7rem;
        right: -60%;
        flex-direction: column;
        padding: 2rem;
        box-shadow: 0 4px 10px rgba(0,0,0,.5);
        border-radius: 10px 0 0 10px;
        transition: .5s ease;

        .nav-item {
            margin: 1rem 2rem !important;
            a {
                color: $dark-gray
            }
        }
    }

    ul.menu.active {
        right: 0;
    }
    

    .hero {
        .hero-title {
            font-size: 2.5rem;
            padding-right: 1.8rem;
        }
    }

    .middle-section {
        .container {
            flex-direction: column;

            .info {
                margin: 0;
                margin-top: 2rem;
                padding: 0;

                .info-title {
                    font-size: 1.6rem;
                    text-align: center;
                }

                .info-desc {
                    text-align: center;
                }
            }
        }
    }

    .grid-section {
        .header {
            justify-content: center !important;

            .btn {
                display: none;
            }
        }
        .grids {
            grid-auto-rows: 150px !important;
        
            .grid:nth-child(1) {
                background-image: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)), url(./images/mobile/image-deep-earth.jpg) !important;
            }

            .grid:nth-child(2) {
                background-image: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)), url(./images/mobile/image-night-arcade.jpg) !important;
            }

            .grid:nth-child(3) {
                background-image: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)), url(./images/mobile/image-soccer-team.jpg) !important;
            }

            .grid:nth-child(4) {
                background-image: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)), url(./images/mobile/image-grid.jpg) !important;
            }

            .grid:nth-child(5) {
                background-image: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)), url(./images/mobile/image-from-above.jpg) !important;
            }

            .grid:nth-child(6) {
                background-image: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)), url(./images/mobile/image-pocket-borealis.jpg) !important;
            }

            .grid:nth-child(7) {
                background-image: url(./images/mobile/image-curiosity.jpg) !important;
            }

            .grid:nth-child(8) {
                background-image: url(./images/mobile/image-fisheye.jpg) !important;
            }
        }
    }

    .footer {
        .container {
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .footer-nav {
                ul.footer-menu {
                    flex-direction: column;

                    .nav-item {
                        margin: 0.8rem 0 !important;
                    }
                }
            }

            .socials, .footer-nav {
                margin: 1rem 0;
                align-items: center;
            }
        }
    }
    
}