$soft-blue: hsl(231, 69%, 60%);
$soft-red: hsl(0, 94%, 66%);
$grayish-blue: hsl(229, 8%, 60%);
$very-dark-blue: hsl(229, 31%, 21%);

html {
    overflow-x: hidden;
}

body {
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

h1, h2, h3, h4 {
    color: $very-dark-blue;
}

p {
    color: $grayish-blue;
}

img {
    width: 100%;
    object-fit: contain;
}

.img-anim {
    animation: animate 1.5s ease-in-out infinite alternate-reverse;
}

@keyframes animate {
    from {
        transform: translateY(-10px);
    }

    to {
        transform: translateY(10px);
    }
}

nav li {
    text-transform: uppercase;
    margin: 0 1.6rem;
    
}

nav li a {
    color: $grayish-blue;
    letter-spacing: .1rem;
    font-size: .86rem !important;
}

.btn {
    padding: .6rem 1.5rem;
    font-size: .8rem;
}

.hero-section {
    min-height: calc(100vh - 8.6rem);
}

.band {
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 70%;
    background-color: $soft-blue;
    z-index: -1;
}

.band-right {
    border-radius: 0 0 0 8rem;
    left: 30%;
}

.band-left {
    border-radius: 0 0 8rem 0;
    left: -30%;
}

// .accordion-button {
//     color: $soft-blue !important;
// }

@media screen and (max-width: 560px){
    .cd {
        margin-top: 2rem !important;
    }
}

















