@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --Tomato: hsl(4, 100%, 67%);
  --Dark-Slate-Grey: hsl(234, 29%, 20%);
  --Charcoal-Grey: hsl(235, 18%, 26%);
  --Grey: hsl(231, 7%, 60%);
  --White: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  font-family: 'Roboto', sans-serif;
  background-color: var(--Charcoal-Grey);
  color: var(--Dark-Slate-Grey);
  display: flex;
  flex-direction: column;
}

.container {
  width: min(920px, 100%);
  background-color: var(--White);
  margin: auto;
  border-radius: 30px;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-area {
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.text-area h1 {
  font-size: 3rem;
}

/* list */

ul {
  margin-top: 1rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: .5rem
}

li {
  display: flex;
  gap: 1rem;
}

/* form */

form,
.form-group {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-top: 1.25rem;
}

.form-group div {
  display: flex;
  justify-content: space-between;
}

label {
  font-weight: 700;
  font-size: .9rem;
}

small {
  color: var(--Tomato);
}

.form-control {
  padding: .75rem .65rem;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  border: 1px solid var(--Grey);
  margin-top: .35rem;
}

.btn {
  background-color: var(--Dark-Slate-Grey);
  color: var(--White);
  font-weight: 700;
  border-radius: 4px;
  padding: .85rem;
  border: 0;
  outline: 0;
  margin-top: 1rem;
  cursor: pointer;
}


/* responsive */

@media screen and (max-width: 700px) {
  .container {
    flex-direction: column;
    border-radius: 0;
    padding: 0;
  }

  .text-area {
    order: 1;
    padding: 1.5rem;
  }
}